<html>
    <head>
        <link href="site.css" rel="stylesheet" type="text/css">
        
        <title>Welcome to my Portfolio | Projects</title>
    </head>
    <body>
        <div id="container">
            <header>
                <a id="logo" href="index.html">Logo</a>
                <a id="navWork" href="index.html" >Work</a>
                <a id="navAbout" href="about.html">About</a>
            </header>
            <div id="breadcrumbs">
                Work > Projects
            </div>
            <div id="content">
                <div id="menu">

                </div>
            </div>
        </div>
    </body>
</html>