<html>
    <head>
        <link href="site.css" rel="stylesheet" type="text/css">
        
        <title>Welcome to my Portfolio | Templates</title>
    </head>
    <body>
        <div id="container">
            <header>
                <a id="logo" href="index.html">Logo</a>
                <a id="navWork" href="index.html" >Work</a>
                <a id="navAbout" href="about.html">About</a>
            </header>
            <div id="breadcrumbs">
                Work > Site Templates
            </div>
            <div id="content">
                <div id="menu">
                    <a href="projects.html" id="mainproject">Projects</a>
                    <a href="illustrations.html" id="mainillustrations">Illustrations</a>
                    <a href="templates.html" id="mainsite">Site Designs</a>
                </div>
                <div id="test"></div>
            </div>
        </div>
    </body>
</html>